.txt_color {
    color: white;
}

hr {
    border:2rem;
    width: 100%;
    height: 20px;
    background-color: white;
}

.design_b {
    display: flex;
    justify-content: center; 
    align-items: center;   

  }

  .btndesign {
    margin: 20px; 
  }

  .btndesign1 {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    align-items: center; 
    min-height: 6vh;  
    /* width: 100%;      */

  }